@charset "UTF-8";

/*todas as demais mídias*/

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px  */

@media print{ /*impressora*/
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main > h1{
        color: black;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }
    img#celular{display: none;}

    img#tablet{display: none;}

    img#impressora{display: block;}

    img#computador{display: none;}

    img#televisao{display: none;}

}
@media screen and (min-width: 768px) and (max-width: 992px) { /*tablete*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#celular{display: none;}

    img#tablet{display: block;}

    img#impressora{display: none;}

    img#computador{display: none;}

    img#televisao{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#celular{display: none;}

    img#tablet{display: none;}

    img#impressora{display: none;}

    img#computador{display: block;}

    img#televisao{display: none;}
}
@media screen and (min-width: 1200px) { /*telas grandes*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#celular{display: none;}

    img#tablet{display: none;}

    img#impressora{display: none;}

    img#computador{display: none;}

    img#televisao{display: block;}
}